.seekbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    padding: 0 1.5rem;
    z-index: 1;
}

.seekbar-bg {
    width: 100%;
    height: 5px;
    background: var(--video-seek-bg);
}

.seekbar {
    width: 75%;
    height: 100%;
    background: var(--video-seek);
}

.seekbar-bg,
.seekbar {
    border-radius: 1rem;
}