.play-button,
.fullscreen-button {
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px 20px rgba(30,30,30,1);
}

.play-center {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 60px;
}

.play-corner {
    left: 1.5rem;
}

.fullscreen-button {
    right: 1.5rem;
}

.play-corner,
.fullscreen-button {
    bottom: 35px;
    padding: 0.5rem;
    font-size: 20px;
}