.mini-controls {
    z-index: 1;
    border-radius: 1rem;
}

.mini-controls .button {
    border-radius: 0;
    background: var(--btn-black);
}

.mini-controls .button:hover {
    background: var(--btn-black-dark);
}

.mini-controls .button:first-child {
    border-radius: 1rem 0 0 1rem;
}

.mini-controls .button:last-child {
    border-radius: 0 1rem 1rem 0;
}

.mini-controls .button:only-child {
    border-radius: 1rem;
}
