.video-container {
    border-radius: 1rem;
    overflow: hidden;
}

.video-container video {
    width: auto;
    height: 100%;
    max-width: 100%;
    margin: auto;
    /* Fix 1px border sometimes showing in Chrome bug
    https://stackoverflow.com/questions/40432274/html5-video-element-1px-white-bottom-border-on-chrome */
    clip-path: fill-box;
}

.video-container video:focus {
    outline: none !important;
}

.video-container:fullscreen {
    background: var(--video-bg);
    border-radius: 0;
}

.video-container:fullscreen video {
    object-fit: contain;
    border-radius: 0;
}
