.card {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1320px;
    border-radius: 1rem;
    background: linear-gradient(145deg, var(--gradient-start-color), var(--gradient-end-color));
    box-shadow: -35px -35px 75px var(--shadow-start-color),
        35px 35px 75px var(--shadow-end-color);
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 2.5rem;
}

.card-badges {
    display: flex;
    gap: 0.4rem;
}

.badge {
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: 700;
    background-color: var(--btn-secondary-color);
    color: var(--font-secondary-color);
}

.card p {
    margin: 0;
    line-height: 1.5rem;
}

.card img,
.card video {
    border-radius: 1rem;
}

.card-buttons {
    display: flex;
    gap: 0.4rem;
}

@media (min-width: 600px) {
    .card {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .card {
        grid-template-columns: 66% 1fr;
    }
}
