.seekbar-container {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    padding: 0.8rem;
}

.seekbar-bg {
    width: 100%;
    height: 100%;
    background: #ffffff33;
}

.seekbar {
    width: 75%;
    height: 100%;
    background: #fff;
}

.seekbar-bg,
.seekbar {
    border-radius: 1rem;
}