.seekbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    padding: 0 1.5rem;
}

.seekbar-bg {
    width: 100%;
    height: 5px;
    background: #ffffff33;
}

.seekbar {
    width: 75%;
    height: 100%;
    background: #fff;
}

.seekbar-bg,
.seekbar {
    border-radius: 1rem;
}