.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 60px;
    color: #fff;
    text-shadow: 1px 1px 20px rgba(30,30,30,1);
    pointer-events: none;
}

.video-container {
    border-radius: 1rem;
    overflow: hidden;
}

.video-container video {
    width: auto;
    height: 100%;
    max-width: 100%;
    margin: auto;
}

.video-container:fullscreen {
    background: #000;
    border-radius: 0;
}

.video-container:fullscreen video {
    object-fit: contain;
    border-radius: 0;
}
