.dropdown-button {
    display: inline-flex;
    align-items: center;
}

.dropdown-chevron {
    padding-left: 0.3rem;
    font-size: 0.5rem;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 0.2rem;
    z-index: 10;
}

.dropdown-menu .button {
    background: var(--btn-black);
}

.dropdown-menu .button:hover {
    background: var(--btn-black-dark);
}

.dropdown-menu .button:first-child {
    border-radius: 1rem 1rem 0 0;
}

.dropdown-menu .button:last-child {
    border-radius: 0 0 1rem 1rem;
}

.dropdown-menu .button:only-child {
    border-radius: 1rem;
}
