:root {
    color-scheme: light;
    --font-color: #212529;
    --font-secondary-color: #fff;
    --background-color: #f8f9fa;
    --btn-color: #007af1;
    --btn-hover-color: #0063c7;
    --btn-secondary-color: #6a757c;
    --btn-secondary-hover-color: #576066;
    --gradient-start-color: #efefef;
    --gradient-end-color: #f0f0f0;
    --shadow-start-color: #e7e7e7;
    --shadow-end-color: #c7c7c7;
}

[data-theme="dark"] {
    color-scheme: dark;
    --font-color: #dee2e6;
    --font-secondary-color: #fff;
    --background-color: #212529;
    --gradient-start-color: #1e2125;
    --gradient-end-color: #23282c;
    --shadow-start-color: #292e33;
    --shadow-end-color: #191c1f;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    color: var(--font-color);
    background-color: var(--background-color);
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h2 {
    font-size: calc(1.275rem + .3vw);
}

h3 {
    font-size: 1.25rem;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

button {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    border: none;
}

[role=button] {
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 0.6rem 0.9rem;
    border-radius: 1rem;
    background-color: var(--btn-color);
    color: var(--font-secondary-color);
    transition: background 0.2s ease !important;
    white-space: nowrap;
}

.button-secondary {
    background-color: var(--btn-secondary-color);
}

.button:hover {
    background-color: var(--btn-hover-color);
}

.button-secondary:hover {
    background-color: var(--btn-secondary-hover-color);
}

.hidden {
    opacity: 0;
}

.fade {
    transition: opacity 0.2s;
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
